* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

main {
  min-height: inherit;
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 15px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 10px 10px;
}

.title {
  color: hsl(0, 0%, 95%);
  margin-bottom: 30px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
}

.description {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 40px;
  font-size: 0.8rem;
  line-height: 1.8;
}

button {
  display: inline-block;
  background-color: hsl(0, 0%, 95%);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5em;
  font-family: "Lexend Deca", sans-serif;
  border: 2px solid;
}

article {
  display: grid;
  grid-template-columns: 1fr;
}

article div {
  padding: 3rem;
}

.icon {
  margin-bottom: 30px;
}

.button1 {
  color: hsl(31, 77%, 52%);
}

.button2 {
  color: hsl(184, 100%, 22%);
}

.button3 {
  color: hsl(179, 100%, 13%);
}

.button1:hover,
.button1:active {
  color: hsl(0, 0%, 95%);
  background-color: inherit;
  border: 2px solid white;
}

.button2:hover,
.button2:active {
  color: hsl(0, 0%, 95%);
  background-color: inherit;
  border: 2px solid white;
}

.button3:hover,
.button3:active {
  color: hsl(0, 0%, 95%);
  background-color: inherit;
  border: 2px solid white;
}

.attribution {
  justify-self: center;
}

@media screen and (min-width: 768px) {
  article {
    grid-template-columns: repeat(3, 250px);
    padding: 0;
  }

  .sedans {
    border-radius: 10px 0 0 10px;
  }

  .luxury {
    border-radius: 0 10px 10px 0;
  }

  .attribution {
    justify-self: center;
  }
}

@media screen and (max-width:760px){
  main {
    padding:4rem 2rem;
  }
}
